#set($messageClass=$name.getMessageClassName($table))
#set($messageVar=$name.getMessageVarName($table))
#set($modelClass=$name.getModelClassName($table))
#set($modelVar=$name.getModelVarName($table))
#set($bizClass=$name.getBizClassName($table))
#set($bizVar=$name.getBizVarName($table))
#set($convertor=$name.getConvertorClassName($table))
#set($primaryKeyVarName=$code.getVarName($table.primaryKey.memberColumns[0].propertyName))
#set($primaryKeyParameter=$code.getParameters($table.primaryKey.memberColumns))
#set($messageQueryClass=$name.getMessageQueryClassName($table))
#set($messageQueryVar=$name.getMessageQueryVarName($table))
#set($modelQueryClass=$name.getModelQueryClassName($table))
#set($modelQueryVar=$name.getModelQueryVarName($table))
#set($serviceVar=$name.getServiceVarName($table))
#set($serviceClass=$name.getServiceClassName($table))
package ${mybatisgen.p.get("basePackage")}.test;

import static org.junit.Assert.*;

import java.math.BigDecimal;
import java.util.List;
import org.junit.Test;

import ${mybatisgen.p.get("basePackage")}.message.MessageInfo;
import ${mybatisgen.p.get("basePackage")}.message.QueryResultInfo;
import ${name.getFullMessageClassName($table)};
import ${name.getFullMessageQueryClassName($table)};

import ${name.getFullServiceClassName($table)};

public class ${name.getTestClassName($table)} extends TestBase {

	
	private $serviceClass ${serviceVar};

	@Override
	public void setup() {
		super.setup();
		${serviceVar} = applicationContext.getBean(${serviceClass}.class);
	}

	#if($table.hasDeleteColumn())
	
	@Test
	public void delete${modelClass}() {

		${table.primaryColumn.javaType} ${table.primaryColumn.propertyName} = ${table.primaryColumn.getTestValue()};
		String operatorId = "100";
		MessageInfo<Integer> messageInfo = ${serviceVar}.delete${modelClass}(${table.primaryColumn.propertyName}, operatorId);
		printAndAssertEquals(messageInfo);
	}
	#else
		
	@Test
	public void delete${modelClass}() {
		${table.primaryColumn.javaType} ${table.primaryColumn.propertyName} = ${table.primaryColumn.getTestValue()};
		MessageInfo<Integer> messageInfo = ${serviceVar}.delete${modelClass}(${table.primaryColumn.propertyName});
		printAndAssertEquals(messageInfo);
	}
	#end
	
	@Test
	public void create${modelClass}() {
		${messageClass} ${messageVar} = new ${messageClass}();
		#foreach($column in $table.columns)
		${messageVar}.set${column.cPropertyName}(${column.getTestValue()});	
		#end
		MessageInfo<${table.primaryColumn.javaType}> messageInfo = ${serviceVar}.create${modelClass}(${messageVar});
		printAndAssertEquals(messageInfo);
	}

	@Test
	public void update${modelClass}() {

		${messageClass} ${messageVar} = new ${messageClass}();
		#foreach($column in $table.columns)
		${messageVar}.set${column.cPropertyName}(${column.getTestValue()});	
		#end
		MessageInfo<Integer> messageInfo = ${serviceVar}.update${modelClass}(${messageVar});
		printAndAssertEquals(messageInfo);
	}

	#if($table.hasStatusColumn())
	@Test
	public void changeStatus() {

		$table.primaryColumn.javaType $table.primaryColumn.propertyName = $table.primaryColumn.getTestValue();
		$table.statusColumn.javaType $table.statusColumn.propertyName =  $table.statusColumn.getTestValue();
		String operatorId = "100";
		MessageInfo<Integer> messageInfo = ${serviceVar}.changeStatus($table.primaryColumn.propertyName,$table.statusColumn.propertyName,operatorId);
		printAndAssertEquals(messageInfo);
	}
	#end
	
	@Test
	public void get${modelClass}() {
		
		$table.primaryColumn.javaType $table.primaryColumn.propertyName = $table.primaryColumn.getTestValue();
		MessageInfo<${messageClass}> messageInfo = ${serviceVar}.get${modelClass}(${table.primaryColumn.propertyName});
		printAndAssertEquals(messageInfo);
	}

	@Test
	public void getAll${modelClass}() {

		MessageInfo<List<${messageClass}>> messageInfo = ${serviceVar}.getAll${modelClass}();
		printAndAssertEquals(messageInfo);
	}

	@Test
	public void query${modelClass}() {

		${messageQueryClass} ${messageQueryVar} = new ${messageQueryClass}();
		${messageQueryVar}.setPageIndex(1);
		${messageQueryVar}.setPageSize(10);
		${messageQueryVar}.setOrder("desc");
		${messageQueryVar}.setOrderBy("${table.primaryColumn.propertyName}");
		#foreach($column in $table.columns)
		${messageQueryVar}.set${column.cPropertyName}(${column.getTestValue()});	
		#end
		MessageInfo<QueryResultInfo<${messageClass}>> messageInfo = ${serviceVar}.query${modelClass}(${messageQueryVar});
		printAndAssertEquals(messageInfo);
	}
   
	
	#foreach($index in $table.indexes)
	#if($index.isUnique())
		
	@Test
	public void ${sql.getIndexBizName($index)}(){
		
		#foreach($column in $index.memberColumns)
		$column.javaType $column.propertyName = $column.getTestValue();
		#end
		MessageInfo<$messageClass> messageInfo = ${serviceVar}.${sql.getIndexBizName($index)}(${code.getParameterValues($index.memberColumns)});
		printAndAssertEquals(messageInfo);
	
	}	
	#else
		
	@Test
	public void ${sql.getIndexBizName($index)}(){
	
		#foreach($column in $index.memberColumns)
		$column.javaType $column.propertyName = $column.getTestValue();
		#end
		MessageInfo<List<$messageClass>> messageInfo = ${serviceVar}.${sql.getIndexBizName($index)}(${code.getParameterValues($index.memberColumns)});
		printAndAssertEquals(messageInfo);
	}
	#end
	#end

}