<link rel="shortcut icon" href="img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/revision.css">
<link rel="stylesheet" type="text/css" href="css/dn.css">
<link rel="stylesheet" type="text/css" href="css/dn2.css">
<link rel="stylesheet" type="text/css" href="css/basis.css">
<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="bootstrap-datetimepicker/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="bootstrap-table-develop/dist/bootstrap-table.css">


<script src="js/jquery-1.12.3.min.js"></script>
<script src="bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="js/platformUrl.js?t=20170523"></script>
<script src="js/common.js"></script>

<script src="bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="bootstrap-table-develop/dist/bootstrap-table.js"></script>
<script src="bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>


