<!doctype html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<title>找回密码</title>
	<!--basis-->
		<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/revision.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/dn.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/dn2.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/basis.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/dist/css/bootstrap.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-datetimepicker/bootstrap-datetimepicker.css}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-table-develop/dist/bootstrap-table.css}"></link>


<script th:src="@{/js/jquery-1.12.3.min.js}"></script>
<script th:src="@{/bootstrap-3.3.7/dist/js/bootstrap.js}"></script>
<script th:src="@{/js/platformUrl.js?t=20170523}"></script>

<script th:src="@{/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js}"></script>

<script th:src="@{/bootstrap-table-develop/dist/bootstrap-table.js}"></script>
<script th:src="@{/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js}"></script>



	<link rel='style/sheet'></link>
</head>
<style>

</style>
<body>
<div class="nav_bj">

	<div class="container nav_all">
		<span class="logo"><img src="../img/dn/logo.png"></img></span>
		<ul>
			<li page_tab="index"><a href="javascript:void(0);" onclick="index_head();" >首页</a></li>
			<li page_tab="ctsj" class="nav_list_data_all">
				<a href="list_page_com.html" >创投数据库</a>
				<!-- 数据库list -->
				<div class="nav_list_data">
					<ul>
						<a href="javascript:void(0);" onclick="com();"><li page_tab="qyxm"  tab="com">项目</li></a>
						<a href="javascript:void(0);" onclick="tz();"><li  page_tab="rzdt" tab="trdt">投融动态</li></a>
						<a href="javascript:void(0);" onclick="org();"><li page_tab="tzjg" tab="org">投资机构</li></a>
						<a href="javascript:void(0);" onclick="startup();"><li page_tab="cyz" tab="startUp">创业者</li></a>
						<a href="javascript:void(0);" onclick="investor();"><li page_tab="tzr" tab="investor">投资人</li></a>
					</ul>
				</div>
			</li>
			<li page_tab="trkx"><a href="javascript:void(0);"  onclick="news_head();">投融快讯</a></li>
			<li page_tab="hybg"><a href="javascript:void(0);" onclick="report();">行研报告</a></li>
			<li page_tab="xmcp"><a href="javascript:void(0);" onclick="evaluating()">项目评测</a></li>
			<!--<li page_tab="sydc">商业洞察</li>-->
		</ul>
		<div class="nav_all_seek">
			<a href="javascript:void(0);" target="_blank" onclick="search_head()"><div class="seek_all"  id="seek" ><span class="dn_ico dn_ico_seek"></span>寻求融资</div></a>
			<div  class="dn_ico dn_ico_search"></div>
		</div>

		<div class="nav_all_input" id="nav_all_input_all">
            <input type="text" class="" id="nav_all_input" data-search="globalsearch_index"  placeholder="请输入关键搜索词"/>
            <span class="brain_ico brain_ico_seek"  id="globalsearch_index"></span>
            <div style="height:18px;width:100%;position: absolute;    top: 30px; overflow:hidden;"></div>
            <!-- 热词 -->
			<div class="hot_speech">
				<div class="hot_speech_all">
					<ul class="hotKeyword">
					<div class="tit">热门搜索</div>
						<li>区块链</li>
						<li>乐视</li>
						<li>共享经济</li>
						<li>消费升级</li>
						<li>机器人</li>
						<li>VR</li>
					</ul>
				</div>
			</div>
        </div>
        <div class="head_login_all">
			<div class="dn_ico dn_ico_loginimg"></div>
	        <div class="head_login" id="login_model">
	        	<ul>
					<li class="head_login_border"><a href="javascript:void(0)" onclick="login_page()"><span>登录</span></a></li>
					<li><a href="javascript:void(0)" onclick="register_page()"><span>注册</span></a></li>
				</ul>
			</div> 
			<div class="nav_all_name none" id="logined_model">
				<span name="id_name"></span>
				<ul class="list_click_ul mymenu">
					<li><a href="javascript:void(0)" onclick="my_project()">我的项目</a></li>
					<li><a href="javascript:void(0)" onclick="concern_industry()">关注行业</a></li>
					<li><a href="javascript:void(0)" onclick="person_center_fonder()">收藏夹</a></li>
					<li class="none"><a href='javascript:void(0)' onclick="person_resetpassword()">修改密码</a></li>
					<li><a href="javascript:void(0);" onclick="logout()">退出系统</a></li>
				</ul>
			</div>
        </div>
        
		
	</div>

</div>

<div class="block nav_nav">
	<div class="container">
		<ul tab="header" class="nav_two">
			<!--<a href="list_page_com.html" >-->
			<!--<li page_tab="yl"  tab="">-->
			<!--<div class="nav_nav_name">概览</div>-->
			<!--&lt;!&ndash;<div class="nav_nav_name_x"></div>&ndash;&gt;-->
			<!--</li>-->
			<!--</a>-->
			<a href="list_page_com.html" >
				<li page_tab="qyxm"  tab="com">
					<div class="nav_nav_name">项目</div>
					<div class="nav_nav_name_x total-project"></div>
				</li>
			</a>
			<a href="list_page_rz.html" >
				<li page_tab="rzdt" tab="trdt">
					<div class="nav_nav_name">投融动态</div>
					<div class="nav_nav_name_x total-investevent"></div>
				</li>
			</a>
			<a href="list_page_org.html" >
				<li page_tab="tzjg" tab="org">
					<div class="nav_nav_name">投资机构</div>
					<div class="nav_nav_name_x total-org"></div>
				</li>
			</a>
			<!--<a href="####" >-->
			<!--<li page_tab="jj">-->
			<!--<div class="nav_nav_name">基金</div>-->
			<!--&lt;!&ndash;<div class="nav_nav_name_x"></div>&ndash;&gt;-->
			<!--</li>-->
			<!--</a>-->
			<!--<a href="####" >-->
			<!--<li page_tab="ctrw">-->
			<!--<div class="nav_nav_name">创投人物</div>-->
			<!--&lt;!&ndash;<div class="nav_nav_name_x"></div>&ndash;&gt;-->
			<!--</li>-->
			<!--</a>-->
			<!--<a href="####" >-->
			<!--<li page_tab="rck">-->
			<!--<div class="nav_nav_name">人才库</div>-->
			<!--&lt;!&ndash;<div class="nav_nav_name_x"></div>&ndash;&gt;-->
			<!--</li>-->
			<!--</a>-->
		</ul>
	</div>
</div>
<script>
//头部统计数字
// sendPostRequest(platformUrl.queryIndexHeaderStat,function(data){
//     $(".total-project").text(data.data.projectNum)
//     $(".total-org").text(data.data.orgNum)
//     $(".total-investevent").text(data.data.eventNum)
// })

<!--$("#seek").click(function(){-->
		<!--location.href="seek_financing.html"-->
<!--})-->
</script>
<div class='login'>
<div class='login-left'><img src='../img/login/login_03.jpg'/></div>
	<!-- 密码登录 -->
	<div class='login-right'>
		<!--找回密码  -->
		<div class='login-right-content '>
		<ul class='find-pass-title'>
			<span>找回密码</span>
		</ul>
			<input class='login-input input-first telphone' type='text' placeholder='请输入登录用户名/手机号' id="mobile" maxlength="11"  onfocus="func_focus(this)"/><label class='login-tips' id="mobile_tip">*你输入的手机号格式不正确</label>
			<input class='login-input input-code' type='text' placeholder='请输入验证码' id="code" maxlength="6"  onfocus="func_focus(this)"/>
				<span class='login-send-code' id="find_code" onclick="send_code(this,'2')">发送验证码</span>
				<label class='login-tips' id="code_tip">*你输入的手机号格式不正确</label>
			<span class='eye-box'><input class='login-input input-last' type='password' placeholder='请重新设置登录密码' id="password"  onfocus="func_focus(this)"/><label class='login-tips' id="password_tip">*你输入的手机号格式不正确</label><span class='login-eye' id="password_eye"></span></span>
			<span class='eye-box'><input class='login-input input-last' type='password' placeholder='请再次输入登录密码' id="confirmPassword"  onfocus="func_focus(this)"/><label class='login-tips' id="confirmPassword_tip">*你输入的手机号格式不正确</label><span class='login-eye' id="confirmpassword_eye"></span></span>
			<span class='to-login' onclick="find_password()">重置密码</span>
			<ul class='find-pass-bottom'>
				<li class='to-login-page' onclick="login_page()">登录</li>
				<li class='find-pass-middle'><img src='../img/login/line_03.jpg'/></li>
				<li class='to-register-page' onclick="register_page()">注册</li>
			</ul>
		</div>
		
	</div>
</div>






<!-- {(dn_foot.html)} -->
</body>
<script th:src="@{/js/platformUrl.js?t=20170523}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/formatter_common.js}"></script>
<script th:src="@{/js/search_index.js}"></script>
<script th:src="@{/js/base64.js}"></script>
<script th:src="@{/js/layer/layer.js}"></script>
<script th:src="@{/js/find_password.js}"></script>
<script>
// $('.find-back-pass').show();
var exists_flag = false
function find_password(){
	$('.login-tips').css('display','none')
    $("input").removeClass('inputDanger');
    $("input").removeClass('invalid');
	var mobile = $("#mobile").val();
	if(mobile== null || mobile.trim().length == 0)
	{
		$("#mobile").addClass('inputDanger');
		$("#mobile").addClass('invalid');
		$('#mobile_tip').css('display','block').html('请输入登录手机号');
		return;
	}
	if(!/^1[0-9]{10}$/.test(mobile))
	{
		$("#mobile").addClass('inputDanger');
		$("#mobile").addClass('invalid');
		$("#mobile_tip").css('display','block').html('请输入有效手机号码');
		return;
	}
    sendPostRequestByJsonObj(platformUrl.checkUserExists,{"mobile":mobile},function(data){
    	if(data.result.status == 'OK'){
    		exists_flag= data.entity.exists
    	}else{
    		layer.msg(data.result.message)
    	}
    });
    if(!exists_flag){
    	$("#mobile").addClass('inputDanger');
    	$("#mobile").addClass('invalid');
    	layer.msg('您输入账号不存在~')
    	return
    }
	var code = $('#code').val()
	if(!code){
		$("#code").addClass('inputDanger');
		$("#code").addClass('invalid');
		$('#code_tip').css('display','block').html("请输入验证码");
		return
	}
    sendPostRequestByJsonObj(platformUrl.checkCode,{"mobile":mobile,"code":code,"type":"2"},function(data){
    	if(data.result.status == 'OK'){
    		exists_flag= true
    	}else{
    		exists_flag = false
    		layer.msg(data.result.message)
    	}
    });
    if(!exists_flag){
    	$("#code").addClass('inputDanger');
		$("#code").addClass('invalid');
		layer.msg('验证码错误~')
		return
    }
	var password = $('#password').val()

	if(password == null || $.trim(password).length == 0){
		$("#password").addClass('inputDanger');
		$("#password").addClass('invalid');
		$('#password_tip').css('display','block').html("请输入登录密码");
		return
	}
	if(!/^[0-9a-zA-Z]{6,14}$/.test(password)){
		$("#password").addClass('inputDanger');
		$("#password").addClass('invalid');
		$('#password_tip').css('display','block').html("请输入6-14位的数字或字母作为密码~");
		layer.msg('请输入6-14位的数字或字母作为密码~')
		return
	}
	var confirmPassword = $('#confirmPassword').val()
	if(confirmPassword == null ||  $.trim(confirmPassword).length  == 0){
		$("#confirmPassword").addClass('inputDanger');
		$("#confirmPassword").addClass('invalid');
		$('#confirmPassword_tip').css('display','block').html("请再次输入登录密码");
		return
	}
	if(password != confirmPassword){
		$("#password").addClass('inputDanger');
		$("#password").addClass('invalid');
		$("#confirmPassword").addClass('inputDanger');
		$("#confirmPassword").addClass('invalid');
		layer.msg('两次密码输入不一致~')
		return
	}
	var jsonData = {"mobile" : mobile,"code":code,"password":password,"confirmPassword":confirmPassword}
	sendPostRequestByJsonObj(platformUrl.updatePassword,jsonData,findPasswordcallback);
}
function findPasswordcallback(data){
	if(data.result.status=="OK"){
		window.location.href = platformUrl.toLoginPage
	 }else{
		 var code = data.result.errorCode
		 if(code == '1'){
			$("#mobile").addClass('inputDanger');
			$("#moible").addClass('invalid');
		 }
		 if(code == '2'){
			$("#code").addClass('inputDanger');
			$("#code").addClass('invalid');
		 } 
	     layer.msg(data.result.message)
	 }
}
function to_login(){
	location.href = platformUrl.toLoginPage
}
function to_register(){
	location.href = platformUrl.toRegister
}




</script>

</html>