package ${mybatisgen.p.get("basePackage")}.dao;
#set($mapperClass=$name.getMapperClassName($table))
#set($modelClass=$name.getModelClassName($table))
#set($modelVar=$name.getModelVarName($table))
#set($keyParameters=$code.getParameters($table.primaryKey.memberColumns))
#set($modelQueryClass=$name.getModelQueryClassName($table))
#set($modelQueryVar=$name.getModelQueryVarName($table))

import java.util.Date;
import java.math.BigDecimal;
import java.util.List;
import org.apache.ibatis.annotations.Param;

import $name.getFullModelClassName($table);

public interface $mapperClass {
	
    Long  insert($table.modelName $modelVar);
    Long  update($table.modelName $modelVar);

	#foreach($index in $table.indexes)
	#if($index.isUnique())
	
	$table.modelName ${sql.getIndexSelectName($index)}(${code.getDbParameters($index.memberColumns)});	
	#else
	
	List<${modelClass}> ${sql.getIndexSelectName($index)}(${code.getDbParameters($index.memberColumns)});
	#end
	#end

    List<${modelClass}> query${modelClass}($modelQueryClass $modelQueryVar);
}