<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="$name.getFullMapperClassName($table)">
	<resultMap id="BaseResultMap" type="$name.getFullModelClassName($table)">
		#foreach($column in $table.columns)
			#if($column.isPrimary())<id column="$column.columnName" property="$column.propertyName" jdbcType="$column.jdbcType" />
			#else<result column="$column.columnName" property="$column.propertyName" jdbcType="$column.jdbcType" />
			#end
		#end
	</resultMap>


	<insert id="insert" parameterType="$name.getFullModelClassName($table)" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO $table.tableName (
$sql.getInsertFileds($table)
		)
		VALUES
		(
$sql.getInsertValues($table)
		)
	</insert>

	<sql id="selectFields">
	$sql.getSelectedFileds($table.columns)
	</sql>
	
	#foreach($index in $table.indexes)
		
	<select id="$sql.getIndexSelectName($index)" resultMap="BaseResultMap">
		SELECT
		<include refid="selectFields" />
		FROM $table.tableName
		$sql.getIndexWhere($index)
	</select>
	#end
	
</mapper>