package ${mybatisgen.p.get("basePackage")}.model;

import java.math.BigDecimal;
import java.sql.Timestamp;
import java.util.Date;

/**
 *  $table.comment
 */
public class $table.modelName extends Pojo {

    #foreach($column in $table.columns)
    public static final String ${column.columnName.toUpperCase()} = "$column.displayName";
    #end

	#foreach($column in $table.columns)

	/**
	 * @Fields $column.propertyName : $column.remarks
	 */
	private $column.javaType $column.propertyName;
	#end

    #foreach($column in $table.columns)

	public $column.javaType ${column.getter}(){
		return $column.propertyName;
	}

	public void ${column.setter}($column.javaType $column.propertyName){
		this.$column.propertyName = $column.propertyName;
	}
    #end
}