<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gi.ctdn.dao.ReportDAO">
	<resultMap type="com.gi.ctdn.pojo.Report" id="ReportMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="title" 				property="title" jdbcType="VARCHAR"/>
		<result column="publishDate" 				property="publishDate" jdbcType="VARCHAR"/>
		<result column="source" 			property="source" jdbcType="VARCHAR"/>
		<result column="authorName" 			property="authorName" jdbcType="VARCHAR"/>
		<result column="authorAvatar" 	property="authorAvatar" jdbcType="VARCHAR"/>
		<result column="authorDesc" 				property="authorDesc" jdbcType="VARCHAR"/>
		<result column="listPic" 	property="listPic" jdbcType="VARCHAR"/>
		<result column="reportBody" property="reportBody" jdbcType="VARCHAR"/>
		<result column="pageNum" 	property="pageNum" jdbcType="INTEGER"/>
		<result column="coverPic" 	property="coverPic" jdbcType="VARCHAR"/>
		<result column="reportDesc" 		property="reportDesc" jdbcType="VARCHAR"/>
		<result column="reportIndex" 	property="reportIndex" jdbcType="VARCHAR"/>
		<result column="fileUrl" 	property="fileUrl" jdbcType="VARCHAR"/>
		<result column="type" 	property="type" jdbcType="INTEGER"/>
		<result column="state" 		property="state" jdbcType="INTEGER"/>
	</resultMap>
	<sql id="selectFields">
		id,title,publishDate,source,authorName,authorAvatar,authorDesc,listPic,reportBody,pageNum,coverPic,reportDesc,
		fileUrl,type,state
	</sql>

	<select id="selectReports" resultMap="ReportMap" parameterType="com.gi.ctdn.pojo.Report">
		select
		<include refid="selectFields"/>
		from app_report
		where state=0
		order by publishDate desc
	</select>

	<select id="selectById" resultMap="ReportMap" parameterType="com.gi.ctdn.pojo.Report">
		select
		<include refid="selectFields"/>
		from app_report
		where id = #{id}
	</select>

	<select id="selectReportNum" resultMap="ReportMap" parameterType="com.gi.ctdn.pojo.Report">
		select
		count(*)
		from app_report
	</select>

	<update id="updateReportState" >
		update app_report
		set state=1
		where id=#{id}
	</update>

	<select id="selectByIds"  resultMap="ReportMap" parameterType="java.util.List">
		select
		<include refid="selectFields"/>
		from  app_report
		<where>
			id in
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
		order by field ( id,
		<foreach collection="ids" item="item"  separator=",">
			#{item}
		</foreach>
		)
	</select>

</mapper>