﻿@charset "utf-8";
/* CSS Document */
body{font-size:14px; font-family:"微软雅黑" !important;background-color: #f7f7f7; color:#333;     position: relative;}
/*css-reset*/
button {outline: none !important;}
html,body,div,ul,ol,li,dl,dt,dd,p,span,em,strong,b,i,h1,h2,h3,h4,form,input,button,textarea,select,option,img,a{ margin:0; padding:0}
ul,ol,dl,dt,dd,p,img{ display:block; border:0}
::-webkit-input-placeholder { color:#ccc;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */　color:#ccc;　}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#ccc;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#ccc;}
a:focus{ -moz-outline-style: none; /* FF */ } 
a{    text-decoration: none;}
.a_color{color:#2393f7 !important;}
li{ display:block; list-style:none}
textarea{resize: none;outline: none}
input{outline: none;}
.col_999{ color:#999;}
.col_666{ color:#666;}
.col_pink{color:#333333;}
.m_t_10{ margin-top:10px;}
.m_t_20{ margin-top:20px;}
.page_title{ width:100%; margin-top:15px;}
.page_title a{color:#999999;}
.bg_fff{background-color:#fff;}
.page_title a:hover{  color:#2393f7;  text-decoration: none;}
.page_all{ width:100%; overflow:hidden; margin-top:20px; position:relative;}
.column_ul{ position:absolute; top:0px; height:42px;}
.column_ul li a{color:#333; display:block;  text-decoration: none;}
.column_ul .nav_on{border:1px solid #f0f0f0; border-bottom:0; background-color:#fff; }
.column_ul .nav_on a{color:#2393f7;}
.column_ul li{ float:left; line-height:42px; width:88px;  text-align:center; font-size:14px; margin-right:40px; border-top-left-radius:10px; border-top-right-radius:10px; cursor:pointer; }
.condition_all{border:1px solid #f0f0f0; background-color:#fff; margin-top:42px; padding-top:10px; ;}
.condition_all_no{border:1px solid #f0f0f0; background-color:#fff;  padding-top:10px; ;}
/*clearfix-浮动清理*/
* html .clearfix { height:1% }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden }
.clearfix {zoom: 1;}
/*条件*/
.condition_all,.condition_all_no{ line-height:26px; width:100%;}
.condition_all_ul{ float:left; margin-left:22px; width:1120px; margin-bottom: 0px}
.condition_all_ul li{ float:left; padding-left:10px; padding-right:10px; margin-top:10px; margin-right:5px; position:relative;}
.condition_all_ul .click_industry_show{padding-right:4px;}
.block .classify,.block_industry .classify,.global_block .classify{ float:left;  margin-top:10px; padding-left:15px; display:block; width:73px;}
.pick_on{ background-color:#2393f7; color:#fff; border-radius:4px;}
.block{ clear:both; width:100%; overflow:hidden;}
.global_block{ clear:both; width:100%; overflow:hidden;}
.brain_ico{ background-image:url(../img/brain_ico.png); background-repeat: no-repeat;}
.brain_ico_bj{background-position: 0px 0px; position:absolute; width:16px; height:16px; top:0; right:0; display:none;
    cursor: pointer;}
.pick_on .brain_ico_bj{ display:block;}
.click_show{ margin-top:10px; clear:both; overflow:hidden; width:100%; height:36px; line-height:36px;}
.brain_ico_arrowup{background-position:-64px 0px; width:16px; height:16px; display:inline-block; cursor: pointer;}
.click_show:hover ,.click_show_on:hover { color:#2393f7; cursor: pointer; background-color:#fafafa;}
.click_show:hover .brain_ico_arrowup ,.brain_ico_arrow{background-position:-36px 0px; width:16px; height:16px; display:inline-block; }
.click_show{ text-align:center; margin-top:10px;}
.click_show_on .brain_ico_arrowup{background-position:-80px 0px; width:16px; height:16px; display:inline-block; }
.click_show_on:hover .brain_ico_arrowup{background-position:-50px 0px;}
.brain_ico_close{background-position:-21px 1px; width:16px; height:11px; display:inline-block; cursor:pointer; }
.time_ul{float:left; margin-left:22px; width:1040px; margin-bottom: 0px}
.time_ul li{ float:left; margin-top:10px; margin-right:10px;}
.time_ul li input{ border:1px solid #cccccc; border-radius:4px; height:28px; width:100px; text-indent:5px; font-size:12px;}
.table_seek{ width:300px; float:right; background-color:#fff; border-radius:15px; height:30px; border:1px solid #e6e6e6;}
.brain_ico_seek{ background-position:0px -20px; width:17px; height:19px; display:block; float:right; margin-right:12px; margin-top:5px; cursor:pointer;}
.table_seek input{ width:255px; height:28px; margin-left:10px; border:0; text-indent:5px;}
.bj_fff{ background-color:#fff;}
.block .table_style > thead > tr > th { text-align:center; font-weight: normal;border-bottom: 1px solid #f0f0f0 !important;;border-left:0px solid #f0f0f0; padding-top:16px; color:#666; padding-bottom:16px;}
.block .table_style > tbody  > tr > td { text-align:center; font-weight: normal;border-bottom: 1px solid #f0f0f0;border-left:0px solid #f0f0f0; }
.bgsj_list_table tr td{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.block .table_style > tbody > tr:nth-of-type(odd) {
     background-color: #fff;
}
.block .table_style > tbody > tr:nth-of-type(odd):hover {
     background-color: #f9f9f9;
}
.table_style  thead th .th-inner, .table_style  tbody td .th-inner {
    padding: 15px 0 !important;
    line-height: 24px;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.border_l{border-left:1px solid #f0f0f0; height: 28px;}
.block .table_style th, .block .table_style td {
    vertical-align: middle; text-align:center;
    box-sizing: border-box;
}
.list_table_bbad a{ color:#333;}
.list_table_bbad a:hover{ color:#2393f7;}
.line_h{ line-height:28px;}
.list_table_td{text-align:left;position:relative;float:left; }
.list_table_td_block{display:block; text-align:center;}
.list_table_td_block a{color:#333;}
center .list_table_td{text-align:center;   float: none;}
.number_th .list_table_td {text-align:center;position:relative; float:none; }
.list_table_td span{ line-height:35px;color: #333;   padding-left: 5px; display: inline-block;float:left;}
.list_table_td>span{margin-left:40px;}
.list_table_td label.name{font-weight:normal;margin-bottom:0;margin-right:5px;}
.list_table_td label.lticon{background:#fa7f1c;padding:0 5px;border-radius:2px;line-height:initial;color:#fff;text-indent:0;margin-left:10px;font-weight:normal;}
.shgp .list_table_td span{line-height:initial;text-indent:0;}
.ling_t .list_table_td a{ max-width:95px; overflow:hidden; float:left;}
.ling_t  a:hover{color:#2393f7 !important}
.ling_t .list_table_td .lticon{float:left;}
.list_table_td .districtSubName{margin-right:5px;}
.list_table_td img,.list_table_td ul{ float:left; margin-left:8px;}
.list_table_td img{position:absolute;top:50%;transform:translateY(-50%);margin-left:0px;left:0px;border-radius: 20px; max-height:40px; width:40px;}
.list_table_td ul{ float:left; margin-left:47px;}
.list_table_td a{ color: #333;  white-space: nowrap;  overflow: hidden;  display: block;  text-overflow: ellipsis;}
.tzsj_list .list_table_td a{white-space:normal;}
.tzsj_table .list_table_td a{white-space:nowrap;}
.tzsj_table .invstorName{width:168px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display:block;text-align:center;}
.list_table_td a:hover{ color:#2393f7; text-decoration:none;}
.boder_all table{ border:1px solid #f0f0f0;}
.block .fixed-table-container {
    position: relative;
    clear: both;
    border: 0px solid #dddddd;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.rzxx .invstorName{white-space:nowrap;}
.rzxx a.invstorName:hover{color:#1ed2ff}
/*行业选择*/
.industry_list{ position:absolute; overflow:hidden; top:26px; width:307px; background-color:#fff; border:1px solid #e7e7e7; height:290px; z-index:98; left:0px;}
.industry_list ul{ float:left;  border-left:1px solid #f0f0f0; height:305px;   width: 130px; padding-top:10px;}
.industry_list ul li{ height:27px; line-height:27px; text-indent:20px; width:100%; overflow:hidden; cursor:pointer; padding: 0; margin: 0;}
.industry_list #three_industry{ width:157px;}
#one_industry li{ min-width:105px; color:#333;}
#two_industry li,#three_industry li{color:#666;}
#one_industry,#two_industry{overflow-y: auto; overflow-x: hidden; height:290px; float: left;}
.industry_list #two_industry{width:173px;}
.none{ display:none;}
#two_industry .click_class ,#one_industry .click_class,#three_industry .click_class{ color:#2493f7;}
#one_industry li:hover ,#two_industry li:hover ,#three_industry li:hover{ background-color:#2493f7; color:#fff;}
.industry_list{ display:none;}
.block_industry{ width:100%;}
.switch_condition{ display:none;}
.type_name{ float:left;margin-left: 88px; line-height:26px; margin-top: 10px;}
.pick_on_color{ color:#1ed2ff}
.industry_li_on{background-color:#2493f7; color:#fff !important;}
.no_two_industry .industry_list{width:131px;}
/*导航*/
.nav_bj{ background-color:#2d3245; height:68px;    position: relative; width:100%;}
.logo{display:block; float:left; width:122px; height:36px; margin-top:12px;}
.nav_all_bj{width:329px; height:60px;background-image:url(../img/nav_d.jpg);  background-repeat:no-repeat;   position: absolute;}
.nav_all{ height:68px; position:relative;  }
.nav_all>ul{ margin-left:36px; float:left; overflow:hidden; }
.nav_all>ul li{ float:left;  font-size:16px; color:#fff;  margin-left:12px;}
.nav_all>ul .nav_on a{ color:#fff; background-color:#2393f7; }
.nav_all ul a{color:#fff; padding-left:24px; padding-right:24px; padding-top: 24px; display: block;  height:68px;}
.nav_all ul a:hover{ text-decoration:none}
.nav_nav ul li{ float:left; height:65px; text-align:center; width:75px; margin-left:60px;}
.list_click_ul>li a{padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    display: block;line-height: 36px;
    height: 36px;}
.nav_nav{border-bottom:1px solid #d9d9d9; height:66px; background-color:#ffffff; display:none;}
.nav_nav_name{ font-size:16px; color:#333333; margin-top:15px;}
.nav_nav_name_x{ font-size:12px; color:#999;}
.nav_two .nav_on{ border-bottom:4px solid #2393f7;}
.nav_all_seek{float:left;     margin-left: 76px;}
.nav_list_data{position:absolute; left:262px; display:none; background-color:#313749; width:128px; top:68px; z-index: 999;}
.nav_list_data_on{display:block;}
.nav_list_data>ul{padding-bottom:20px;}
.nav_list_data>ul>a{margin-top:20px; text-align:center; color:#fff; background-color:#313749 !important;   padding-left:0px; padding-right:0px; padding-top: 0px; display: block;  height:auto;   }
.nav_list_data>ul>a>li{float:none; width:128px;  margin-left: 0;}
.nav_list_data>ul>a .nav_on{color:#2393f7;}
.nav_all_input{ width:255px; height:32px; background-color:#071026; display:none; border-radius:15px; float:left; position: relative; margin-top:20px; margin-left:40px;}
.nav_all_input input{ width:218px; margin-left:8px; text-indent:5px; float:left; height:30px;    color: #fff; font-size: 12px; background-color:#071026; border:0;border-radius:5px;}
.nav_all_input .brain_ico_seek{    margin-top: 7px;}
.nav_all_name{ float:right; color:#fff; font-size:14px; margin-top:18px;height: 50px;width: 104px; cursor:pointer;padding-top:7px;}
.nav_all_name span{width: 104px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block;}
.brain_ico_name{background-position:-28px -14px; width:16px; height:16px; display:inline-block;     margin-top: -3px;}
.nav_nav ul{ margin-left:140px;}
.nav_nav ul li a{color:#333;     text-decoration: none;}
.gz_ul{widht:100%; overflow:hidden; height:50px; background-color:#4872c1;}
.gz_ul li{width:50%; height:50px; float:left; line-height:50px; color:#fff; font-size:16px; text-align:center;}
.gz_ul .gz_ul_on{color:#1ed2ff; background-color:#1a3a76;}
.block_list{display:none; }
#id_name{display: block; text-align: right;  padding-right: 5px; width: 105px;  overflow: hidden;  height: 15px; float: left;  text-overflow: ellipsis; white-space: nowrap;}
#global_list .condition_all_ul{ margin-left:134px; width:1000px; }
.type_name_all .condition_all_ul{ margin-left:10px !important; float: left;  width: 935px !important; }
.brain_ico_up_arrows{background-position: -44px -21px; width: 17px; height: 16px;  display: inline-block;}
.brain_ico_down_arrows{background-position: -69px -20px; width: 17px; height: 16px;  display: inline-block;}
.table_style  comp{color:#2393f7; font-weight: bold;}
.table_style  firm{color:#2393f7; font-weight: bold;}
com{color:#2393f7;}
.th_li{ height:28px; overflow:hidden; margin-bottom:0;}
.th_li li{line-height:15px;}
.list_click_ul{ position: absolute; display:none;padding-top: 3px; top:68px;z-index: 9999; background-color:#2d3245; right:30px; }
/* .list_click_ul:before{content: ' ';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #3e4e63;
    border-left: 10px solid transparent;
    top: -10px;
    position: absolute;
    left: 48px;} */
.center{text-align: center; }
.list_click_ul li{ line-height:36px;background-color:#2d3245; height:36px; width:112px; color:#fff; text-align: center;    margin-bottom: 15px;  cursor:pointer;}
.list_click_ul a{display: block; color: #fff; text-decoration: none;}
.list_click_ul a:hover{color: #2393f7; }
.condition_all_ul li:hover{ color:#2493f7; cursor:pointer;}
.condition_all_ul .pick_on:hover{ color:#fff}
.brain_ico_name_on{background-position: -94px -14px; margin-top:-5px;}
.number_th{width:99px;}
.number_th_25{width:250px;}
.number_th_20{width:200px;}
.number_th_12{width:120px;}
.number_th_15{width:150px;}
.number_th_10{width:110px;}
.w_200_spot{ width:200px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
/*详情*/
.color_666{color:#666}
.color_999{color:#999}
.font_24{font-size:24px;}
.font_30{font-size:30px;}
.font_20{font-size:20px;}
.font_16{font-size:16px;}
.font_14{font-size:14px;}
.m_t25{margin-top:25px;}
.m_t30{margin-top:30px;}
.m_t35{margin-top:35px;}
.m_t20{margin-top:20px;}
.m_t10{margin-top:10px;}
.m_l10{margin-left:10px;}
.m_t5{margin-top:5px;}
.color_set{color:#1ed2ff}
.w_50{width:50%; overflow:hidden;}
.fl{ float:left;}
.fr{ float:right;}
.width_97{width:120px; display:block; text-align:right;}
.particulars_all{    width: 100%; overflow: hidden;  margin-top: 10px; position: relative;}
.particulars_black{width:100%; height:auto; overflow: hidden;  background-color:#fff; padding-left:20px; padding-right: 20px; margin-bottom: 30px; }
.particulars_k{width:100%; overflow:hidden;}
.particulars_k >li{margin-left:20px;}
.particulars_tit img{ float:left; width:70px; height:70px; border:1px solid #e6e6e6; border-radius:4px; overflow:hidden;}
.particulars_tit ul{ float:left; margin-left:10px; margin-bottom: 0px;}
.particulars_tit ul li{ margin-bottom:1px;}
.particulars_ul ul{margin-bottom:0px;}
.particulars_ul ul li{margin-bottom:8px;}
.particulars_ul_one ul li{margin-top:8px; margin-bottom:0px; width: 100%;    overflow: hidden;}
.particulars_bottom_b{border-bottom:1px solid #f0f0f0;}
.particulars_black p{ line-height:24px; margin:0}
.blue_l_b{  margin-left:4px; padding:5px 0;}
.blue_l_b_line{width:1px; top:4px; left:0; height: 100%;background-color:#63a9ff; position:absolute}
.blue_l_b>ul{position:relative;}
.blue_l_b>ul>li{margin-bottom:30px;}
.blue_l_b_three{display:none;}
.circle_b{display:block; width:8px; height:8px; border:1px solid #61abff; border-radius:4px; background-color:#fff; position:absolute; left:-4px; top:4px;}
.relative{position:relative; padding-left:20px; line-height:20px; }
.ul_display{margin-bottom:0;}
.ul_display li{width:100%; overflow:hidden; margin-top:10px;}
.round li{float:left; width:auto; padding:5px 10px; border:1px solid #6ba2fc; color:#6ba2fc; border-radius:12px; margin-right:18px; margin-top:0px;}
.line_h29{ line-height:29px;}
.wid_998{display:block; width:980px; float:left;}
.particulars_table{background-color:#f7f7f7; width:100%;}
.particulars_table td{border:1px solid #e6e6e6; line-height:38px; color:#666666; text-indent:30px;}
.w_155{ width:160px; }
.line_x{width:100%; overflow:hidden;  border-top:1px solid #e6e6e6; margin-top:12px;}
.particulars_table_list{ width:100%;  border:1px solid #f0f0f0;}
.particulars_table_list th{background-color:#ecf3ff;  padding:10px 0; color:#666666;    font-weight: normal;  line-height: 28px;    padding-left: 15px;}
.particulars_table_list td{border-bottom:1px solid #f0f0f0; padding:10px 0;  color:#666666;      padding-left: 15px;}
.m_r_20_no{margin-right:-20px;}
.wid_time{width:120px;}
#begin_on,#end_on{widh:100px; height:28px; border: 1px solid #cccccc;  border-radius: 4px;  height: 28px;  width: 100px;  text-indent: 5px;  font-size: 12px;}
.particulars_table_list td .list_table_td li{line-height:20px;}
.particulars_table_list tbody .list_table_td span.zz{text-indent:0;margin-right:5px;}
.list_table_td ul li a.defalut:hover{color:#333;}
.particulars_table_list .tzsj_eventInfoExtList tr td:nth-child(1){width:182px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
/*企业详情*/
.project_tit{float:left; width:823px; position:relative; overflow:hidden;}
.project_tit .projTitle{width:600px;}
.project_tit span[data-field="logoSmall"]{overflow:hidden;position:relative;width:90px;height:90px;display:inline-block;border:1px solid #e6e6e6;border-radius:4px;float:left;}
.project_tit img { float: left;   width: 90px;  overflow: hidden; position:absolute;top:50%;transform:translateY(-50%)}
.project_tit ul{float:left; margin-left:20px; overflow:hidden; margin-bottom:0;}
.project_tit_ul{width:600px;}
.project_tit ul li{line-height:26px; margin-bottom:20px;}
.project_tit ul.project_tit_ul li{line-height:initial;margin-bottom:20px;overflow: hidden;}
.project_tit_ul li[data-field="projTitle"]{width:360px;font-size:20px;}
.project_tit .dot{margin:0 2px;}
.projTitle{margin-bottom:20px;}
.project_absolute{position:absolute; right:20px; top: 0;}
.project_tit .project_absolute li{float:left; padding-left:20px; border-radius:15px; padding-right:20px; margin-right:10px;}
.project_absolute_blue{ color:#6ba2fc; border:1px solid #6ba2fc;}
.project_absolute_green{ color:#3eb51a; border:1px solid #3eb51a;}
.project_absolute_lan{ color:#a987ff; border:1px solid #a987ff;}
.project_lable{background-color:#f2f2f2; color:#999999; display:block; padding-left:13px; padding-right:13px; float:left; border-radius:13px; margin-right:10px; margin-top:5px; height:26px; line-height:26px;}
.project_tit_r{width:375px; float:right; border-left:1px solid #e6e6e6; }
.project_tit_r ul{margin-left:30px;  margin-bottom: 6px; overflow: hidden;}
.project_tit_r>ul>li{ line-height:16px;     margin-bottom: 14px;}
.brain_ico_project_1{ background-position:0 -41px; width: 23px;  height: 20px; display: inline-block; float:right;}
.brain_ico_project_2{ background-position:-59px -65px; width: 23px;  height: 20px; display: inline-block; float:right;}
.brain_ico_project_3{ background-position:-54px -41px; width: 23px;  height: 20px; display: inline-block; float:right;}
.brain_ico_project_1_on{  cursor:pointer;  background-position:-28px -65px; width: 23px;  height: 20px; display: inline-block; float:right;}
.brain_ico_project_2_on{ cursor:pointer;  background-position:-27px -41px; width: 23px;  height: 20px; display: inline-block; float:right;}
.brain_ico_project_3_on{ cursor:pointer;  background-position:-87px -65px; width: 23px;  height: 20px; display: inline-block; float:right;}
.brain_ico_project_span{width: 23px;  height: 20px; display: inline-block; margin-left:30px; float:left;}
.project_nav{width:100%; background-color:#ecf3ff; height:50px; margin-top:20px; border-radius:8px; border:1px solid #f0f0f0;}
.project_nav_top{position:fixed; top:0; width:1240px;left:50%;     margin-top: 0px; margin-left:-620px; z-index:999;}
.project_nav ul {margin-left:20px}
.project_nav ul li{float:left; font-size:16px; color:#333;margin-right:80px; text-align:center; height:50px; line-height:50px;}
.project_nav ul li span{display: inline-block;  cursor:pointer}
.project_nav ul li .nav_on{color:#2393f7}
.project_nav ul li a{color: #333;}
.project_nav .nav_on{color:#2393f7;}
.project_t{color:#333; font-size:16px;     margin-bottom: 20px;}
.background_boeder{background-color:#fff; border:1px solid #f0f0f0; overflow: hidden; border-radius:8px; margin-top:10px;     padding-top: 30px;}
.project_more{ cursor:pointer;}
.brain_ico_project_crumbs{background-position:-78px -41px;margin-left:0; width:3px; margin-right:10px; height:16px; display:block; float:left;}
.brain_ico_project_more{background-position:-81px -43px;display: inline-block; width:13px; height:10px;}
.project_more:hover{color:#1ed2ff;}
.project_more:hover .brain_ico_project_more{background-position:-94px -43px;}
.project_all{width:100%; overflow:hidden; position:relative;}
.project_all_l{width:1080px; float:left;}
.project_all_r{width:150px; background-color:#fff; border:1px solid #f0f0f0; float:right;margin-top: 10px;}
.project_all_r_top{position:fixed;  top:60px; right:50%; margin-right:-620px;    margin-top:0px;}
.project_all_r ul li{ line-height:38px;  text-align:center; height:38px; position:relative; cursor: pointer;}
.brain_ico_project_circle{background-position:0 -65px;display: none; top:11px;left: 20px; position:absolute; width:15px;  height:15px;}
.project_all_r_on .brain_ico_project_circle{display:block;}
.project_all_r_on,.project_all_r ul li:hover{font-size:14px;}
.project_all_l_ul li{ overflow:hidden;}
.project_all_l_ul li .color_666{height:72px; text-overflow:ellipsis; word-wrap: normal;  overflow:hidden;}
.project_line_x{margin-top:20px; padding-top:20px;border-top: 1px solid #e6e6e6;}
.project_bj_org{display:inline-block; background-color:#fb7f1c;padding: 0 10px; border-radius:4px; margin-left:10px; color:#fff;}
.project_bj_div{line-height:20px;    margin-bottom: 2px;}
.product_list{margin-right:-20px; overflow:hidden; margin-bottom:-26px;}
.product_list>li{width:300px; float:left; border:1px solid #e6e6e6; height:115px; margin-bottom:26px; margin-right:26px;}
.product_eeu{margin-bottom: 24px; overflow: hidden; display: block;}
.product_list_team .product_eeu{margin-bottom: 15px; overflow: hidden; display: block;}
.product_list>li:before {
  content: '';
  display: inline-block;
  vertical-align: middle ;
  height: 100%;
}
.product_list>li .wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: auto;
}
.product_list>li>img{width:90px; height:115px; float:left;}
.product_list_ul{color:#666; display:block; margin-left:10px; float:left; }
.product_list_ul li{display:block; width:190px; overflow:hidden; text-overflow:ellipsis; white-space:normal; line-height:20px;}
.product_list_team,.product_list_company,.project_new{margin-bottom:-15px; overflow:hidden;}
.product_list_team>li{width:25%; float:left;   height:308px;  border-right: 1px solid #f0f0f0;   padding-left: 10px;  padding-right: 10px; overflow:hidden; margin-bottom:15px;}
.product_list_team_img_bj{ margin-bottom: 30px;   margin-left: auto;  margin-right: auto;  background-image: url(../img/dn/dn_ico.png); background-repeat: no-repeat;     background-position: -0px -162px;  width: 102px; margin-top: 3px;    height:114px;   display: block;}
.product_list_team>li>img{width:64px; height:64px; float:left; border-radius:32px; margin-top:30px;}
.product_list_team_img_bj  img{width:86px; margin-top:14px;    float: left; margin-left:8px; height:86px; border-radius:43px; }
.team_color_font{font-size:12px; color:#999999;}
.team_color_font span,.team_color_font_3 span{margin-left:10px;}
.team_color_font_2{font-size:14px; color:#666;}
.team_color_font_3{font-size:16px; color:#333333;}
.product_list_team_ul{float:left; overflow:hidden; margin-left:10px;}
.product_list_team_ul>li{margin-bottom:15px;}
.product_list_company>li{widht:50%; float:left; margin-bottom:15px;}
.product_list_company>li>img{width:33px; height:33px; float:left;}
.product_list_team_ul li .zw{margin-left:5px; font-size:14px;}
.product_list_team_ul li .z_on{margin-left:25px; }
.z_on{padding:2px 5px; background-color:#6bd1a2; border-radius:4px; color:#fff; display:inline-block}
.z_np{padding:2px 5px; background-color:#edf1ff; border-radius:4px; color:#fff; display:inline-block}
.product_list_company div{float:left; overflow:hidden; margin-left:10px; width:395px; line-height:33px;}
.product_list .a{width:90px;height:115px;float:left;text-align:center;padding-top:80px;color:#fff;font-size:14px;font-family:"微软雅黑"}
.product_list .a1{background:#6a8df1 url(../img/01.png) center 30px no-repeat;}
.product_list .a2{background:#5b5b5b url(../img/02.png) center 30px no-repeat;}
.product_list .a3{background:#8dce10 url(../img/03.png) center 30px no-repeat;}
.product_list .a4{background:#d8211b url(../img/04.png) center 30px no-repeat;}
.product_list .a5{background:#13a749 url(../img/05.png) center 30px no-repeat;}
.project_new{width:100%; overflow:hidden; overflow-y: auto;}
.project_new li{margin-bottom:15px;}
.project_new .one{width:660px; display:block; float:left;}
.project_new .two{width:200px; display:block; float:left;}
.project_click_show{ text-align:center; margin-top:10px; cursor:pointer;}
.project_click_show:hover{color:#1ed2ff;}
.project_click_show:hover .brain_ico_project_more{background-position:-94px -43px;}
/*工商*/
.project_all_l_ul_50,.project_all_l_ul_50_div {width:100%; overflow:hidden;}
.project_all_l_ul_50 li{width:50%; float:left; overflow:hidden; margin-bottom:20px;}
.project_all_l_ul_50_left{width:130px; display:block; float:left; overflow:hidden; color:#666; text-align:right;}
.project_all_l_ul_50_div span{float:left; max-width:900px;display: block;}
.particulars_table_list_project th,.particulars_table_list_project td{padding-left:10px;padding-right:10px;}
.particulars_table_list_project .c_left{text-align:left;}
/*职务*/
.job_all{ margin-right:-20px; margin-bottom:-30px; overflow:hidden;}
.job_all>li{float:left; border:1px solid #f0f0f0; border-radius:8px;height:60px; margin-right:20px; margin-bottom:30px;}
.job_all>li>span{display:block; float:left; width:165px; height:60px; line-height:60px; text-align:center;}
.job_all>li>.job_bj{background-color:#f3f6ff; border-right:1px solid #f0f0f0; }
/*子公司*/
.company_all_qy{ margin-left:40px; margin-right:-30px; margin-bottom:-30px; overflow:hidden;}
.company_all_qy>li{float:left; border:1px solid #f0f0f0; width:450px; border-radius:8px;height:60px; margin-right:50px; margin-bottom:30px;}
.company_all_qy>li>.company_all_qy_r{display:block; float:left;  height:60px; line-height:60px; text-align:center; text-indent:20px;}
.company_all_qy>li>.job_bj{background-color:#f3f6ff; width:60px; color:#2393f7; border-right:1px solid #f0f0f0; display:block; float:left;  height:60px; line-height:60px; text-align:center;}
/*企业项目*/
.porject_all_black .list-item-right{ width: 958px;}
/*更多*/
.dn_ico_more_all{text-align:center; color:#666666; font-size:14px; height:16px; margin-top:20px;}
.dn_ico_more_all_click,.dn_ico_more_all_click_show{text-align:center; color:#666666; font-size:14px; height:16px; margin-top:20px;}
.dn_ico_more{     background-position: 0px -64px; width: 15px;     margin-top: 3px; height: 15px;  float:right;  display:block;}
.dn_ico_more_show {background-position: 0px -125px; width: 15px;     margin-top: 3px; height: 15px;  float:right;  display:block;}
.dn_ico_more_al_divl{width:90px; cursor:pointer; margin-left:auto; margin-right:auto;}
.dn_ico_more_al_divl:hover {color:#2393f7;}
.dn_ico_more_al_divl:hover .dn_ico_more{    background-position: 0px -84px;}
.dn_ico_more_al_divl:hover .dn_ico_more_show{    background-position: 0px -105px;}
.list_on_fr{float:right; font-size:12px; color:#999999; margin-right:20px;}
.dn_ico_bj_lc{ background-position: -21px -64px; width: 107px;     margin-top: 3px; height: 88px;  float:left;  display:block;}
.dn_ico_bj_lc_b{border:1px solid #e6e6e6;  width:843px;       position: relative;   overflow: hidden;   border-radius: 8px;  margin-left: 110px; }
.particulars_black_rz .equity_trading_r{height:auto;}
.dn_r .equity_trading_r{width:225px;}
#teamSuper{margin-bottom:20px;}
.dn_ico_bj_lc_b_l{color:#999999;margin-right:10px;display:block; float:left;}
.dn_ico_bj_lc_b_r{color:#333333; margin-right:40px; display:block; float:left; margin-bottom:10px;}
.dn_ico_bj_lc_b_r a{color:#333333;}
.dn_ico_bj_lc_b>ul{padding-top:20px;  padding-left:30px; padding-right:30px; width: 800px;  float: left; }
.dn_ico_bj_lc_b>ul>li{margin-bottom:10px;      margin-right:-40px;   overflow: hidden;}
.dn_ico_bj_lc_b_xq{width:35px; float:right; font-size:14px;     position: absolute; top:50%; margin-top:-8px; height:100%;  right:20px;}
.dn_ico_bj_lc_b_xq a{ color:#2393f7;}
.dn_ico_bj_lc_cen{  font-size: 18px;   margin-top: 30px;  display: block;   width: 81px;   overflow: hidden;  text-align: center;  margin-left: 1px;}
.particulars_black_rz .equity_trading_l {  font-size: 12px;  position: relative;  color: #999999;   float: left; border:0;   height: 80px;    width: 73px;    margin-top: 40px;}
.border_equity_trading_l{position: absolute;width:1px; background-color:#cee8ff;      margin-top: 60px;   left: 93px;height:100%;}
.particulars_black_rz>.equity_trading_all>ul>li {margin-top:0px; position: initial;}
.particulars_black_rz>.equity_trading_all>ul {    position: relative;}
.particulars_black_rz .dn_ico_equity_trading_area {margin-left: 0px;     margin-top: 22px; }
.particulars_black_rz .equity_trading_time {    position: initial; margin-top:40px;    float: left;   margin-top: 15px;}
.project_t_team{font-size:14px; color:#333333;margin-bottom: 20px;     margin-left: 20px;}
.project_t_team_ul,.project_t_team_cen{ margin-left: 20px;padding-right: 20px; margin-top:10px; width:100%;     overflow: hidden;}
.project_t_team_ul>li{padding-left:20px; padding-right:20px; height:30px; margin-bottom:10px; line-height:30px; border:1px solid #b4dcff; float:left; margin-right:30px; border-radius:15px;}
.project_t_team_cen>li{ margin-bottom:10px; color:#666666; font-size:14px;}
.dn_ico_bj_lc_b_r .lticon{ padding-left:10px; padding-right:10px; background-color:#fa931a; margin-left: 10px; font-size:12px; color:#fff; border-radius:6px;     font-weight: 500;     margin-bottom: 0px;}
.project_all_l .dn_info_list_show_r{    width: 902px;}
.project_all_l .m_on_t{margin-top:-20px;}
.project_all_l .dn_info_list>ul>li{border-bottom:1px solid #f0f0f0;}
.particulars_black .dn_info_list_show{padding:0}
.particulars_black .no_img_project .dn_info_list_show_r{ margin-left:0;   width: 1035px;}
/*竞争*/
.ul_all{width:100%; overflow:hidden;}
.ul_all>li{overflow:hidden;     margin-bottom: 10px;}
.xian_t{border-top:1px solid #f0f0f0; margin-top:10px; padding-top:10px;}
.project_jz_l{width:880px; float:left;}
.project_jz_l>ul>li{ float:left;}
.project_jz_l .project_absolute_blue{ padding:5px 10px; border-radius:15px; display: inline;}
.project_jz_span span{background-color:#f2f2f2;  border-radius:15px; display:block; float:left; margin-right:15px; color:#999;}
.project_jz_l span.img_parent{margin-right:10px;overflow:hidden;position:relative;width:78px;height:78px;overflow: hidden;display:inline-block;border:1px solid #e6e6e6;float:left;}
.project_jz_l img { float: left;   width: 78px;   position:absolute;top:50%;transform:translateY(-50%)}
/* .project_jz_l img{ border:1px solid #e6e6e6; width:78px; height:78px; float:left; margin-right:10px;} */
.project_jz_l_n_3{margin-top:27px; margin-left:20px; width:100px;}
.project_jz_l_n_2{margin-top:27px; margin-left:20px;     width: 96px;}
.project_jz_l_n_ul li{margin-bottom:5px; width:435px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.project_jz_l_n_ul li a{color:#333;}
.project_jz_l_n_ul li a:hover{color:#2393f7;}
.project_jz_r{border-left:1px solid #e6e6e6; overflow:hidden; float:right; padding:5px 0 5px 0; text-indent:10px; width:300px;}
.project_jz_r_r{width:106px; float:right; height:106px;}
.project_jz_r_l{width:190px; float:left;}
.project_jz_r_l>ul>li{line-height:20px; margin-top:5px;}
.project_jz_r_l_tit{color:#666;  margin-bottom:5px;}
.brain_ico_project_time{ background-position: -34px -86px; float:left; margin-left:10px; margin-top:3px; width: 15px;  height: 15px;   display: inline-block;}
.brain_ico_project_money{ background-position: -55px -86px; float:left; margin-left:10px; margin-top:3px; width: 14px;  height: 14px;   display: inline-block;}
.brain_ico_project_site{ background-position: -77px -86px; float:left; margin-left:10px; margin-top:3px; width: 14px;  height: 14px;   display: inline-block;}
.project_jz_r_l .tzf{float:left;width:160px;padding-left:10px;text-indent:0;}
.tzf span.dh{margin:0 2px;}
/* 圆盘*/
.project_jz_r_r{ width: 106px; height: 106px;  position: relative; } 
.on_project_jz_r_r{position:absolute; color:#78aaff; top:19px;left: 0px;  text-align: center;  width: 96px;}
.project_jz_r_r>.ul{width: 106px; height: 106px; border-radius: 50%; float:right; position: relative;  margin-right: -53px; } 
.project_jz_r_r>.ul>li{ width: 1px; height: 10px; height: 6px;  margin-left: -3px; background: #82b0ff;  position: absolute; left: 0px; top: 0; -moz-transform-origin: center 53px;  -ms-transform-origin: center 53px;  -webkit-transform-origin: center 53px; } 
.project_jz_r_r>.ul li:nth-child(1){transform: rotate(3.6deg);}.project_jz_r_r>.ul li:nth-child(2){transform: rotate(7.2deg);}.project_jz_r_r>.ul li:nth-child(3){transform: rotate(10.8deg);}.project_jz_r_r>.ul li:nth-child(4){transform: rotate(14.4deg);}.project_jz_r_r>.ul li:nth-child(5){transform: rotate(18deg);}.project_jz_r_r>.ul li:nth-child(6){transform: rotate(21.6deg);}.project_jz_r_r>.ul li:nth-child(7){transform: rotate(25.2deg);}.project_jz_r_r>.ul li:nth-child(8){transform: rotate(28.8deg);}.project_jz_r_r>.ul li:nth-child(9){transform: rotate(32.4deg);}.project_jz_r_r>.ul li:nth-child(10){transform: rotate(36deg);}.project_jz_r_r>.ul li:nth-child(11){transform: rotate(39.6deg);}.project_jz_r_r>.ul li:nth-child(12){transform: rotate(43.2deg);}.project_jz_r_r>.ul li:nth-child(13){transform: rotate(46.800000000000004deg);}.project_jz_r_r>.ul li:nth-child(14){transform: rotate(50.4deg);}.project_jz_r_r>.ul li:nth-child(15){transform: rotate(54deg);}.project_jz_r_r>.ul li:nth-child(16){transform: rotate(57.6deg);}.project_jz_r_r>.ul li:nth-child(17){transform: rotate(61.2deg);}.project_jz_r_r>.ul li:nth-child(18){transform: rotate(64.8deg);}.project_jz_r_r>.ul li:nth-child(19){transform: rotate(68.4deg);}.project_jz_r_r>.ul li:nth-child(20){transform: rotate(72deg);}.project_jz_r_r>.ul li:nth-child(21){transform: rotate(75.60000000000001deg);}.project_jz_r_r>.ul li:nth-child(22){transform: rotate(79.2deg);}.project_jz_r_r>.ul li:nth-child(23){transform: rotate(82.8deg);}.project_jz_r_r>.ul li:nth-child(24){transform: rotate(86.4deg);}.project_jz_r_r>.ul li:nth-child(25){transform: rotate(90deg);}.project_jz_r_r>.ul li:nth-child(26){transform: rotate(93.60000000000001deg);}.project_jz_r_r>.ul li:nth-child(27){transform: rotate(97.2deg);}.project_jz_r_r>.ul li:nth-child(28){transform: rotate(100.8deg);}.project_jz_r_r>.ul li:nth-child(29){transform: rotate(104.4deg);}.project_jz_r_r>.ul li:nth-child(30){transform: rotate(108deg);}.project_jz_r_r>.ul li:nth-child(31){transform: rotate(111.60000000000001deg);}.project_jz_r_r>.ul li:nth-child(32){transform: rotate(115.2deg);}.project_jz_r_r>.ul li:nth-child(33){transform: rotate(118.8deg);}.project_jz_r_r>.ul li:nth-child(34){transform: rotate(122.4deg);}.project_jz_r_r>.ul li:nth-child(35){transform: rotate(126deg);}.project_jz_r_r>.ul li:nth-child(36){transform: rotate(129.6deg);}.project_jz_r_r>.ul li:nth-child(37){transform: rotate(133.20000000000002deg);}.project_jz_r_r>.ul li:nth-child(38){transform: rotate(136.8deg);}.project_jz_r_r>.ul li:nth-child(39){transform: rotate(140.4deg);}.project_jz_r_r>.ul li:nth-child(40){transform: rotate(144deg);}.project_jz_r_r>.ul li:nth-child(41){transform: rotate(147.6deg);}.project_jz_r_r>.ul li:nth-child(42){transform: rotate(151.20000000000002deg);}.project_jz_r_r>.ul li:nth-child(43){transform: rotate(154.8deg);}.project_jz_r_r>.ul li:nth-child(44){transform: rotate(158.4deg);}.project_jz_r_r>.ul li:nth-child(45){transform: rotate(162deg);}.project_jz_r_r>.ul li:nth-child(46){transform: rotate(165.6deg);}.project_jz_r_r>.ul li:nth-child(47){transform: rotate(169.20000000000002deg);}.project_jz_r_r>.ul li:nth-child(48){transform: rotate(172.8deg);}.project_jz_r_r>.ul li:nth-child(49){transform: rotate(176.4deg);}.project_jz_r_r>.ul li:nth-child(50){transform: rotate(180deg);}.project_jz_r_r>.ul li:nth-child(51){transform: rotate(183.6deg);}.project_jz_r_r>.ul li:nth-child(52){transform: rotate(187.20000000000002deg);}.project_jz_r_r>.ul li:nth-child(53){transform: rotate(190.8deg);}.project_jz_r_r>.ul li:nth-child(54){transform: rotate(194.4deg);}.project_jz_r_r>.ul li:nth-child(55){transform: rotate(198deg);}.project_jz_r_r>.ul li:nth-child(56){transform: rotate(201.6deg);}.project_jz_r_r>.ul li:nth-child(57){transform: rotate(205.20000000000002deg);}.project_jz_r_r>.ul li:nth-child(58){transform: rotate(208.8deg);}.project_jz_r_r>.ul li:nth-child(59){transform: rotate(212.4deg);}.project_jz_r_r>.ul li:nth-child(60){transform: rotate(216deg);}.project_jz_r_r>.ul li:nth-child(61){transform: rotate(219.6deg);}.project_jz_r_r>.ul li:nth-child(62){transform: rotate(223.20000000000002deg);}.project_jz_r_r>.ul li:nth-child(63){transform: rotate(226.8deg);}.project_jz_r_r>.ul li:nth-child(64){transform: rotate(230.4deg);}.project_jz_r_r>.ul li:nth-child(65){transform: rotate(234deg);}.project_jz_r_r>.ul li:nth-child(66){transform: rotate(237.6deg);}.project_jz_r_r>.ul li:nth-child(67){transform: rotate(241.20000000000002deg);}.project_jz_r_r>.ul li:nth-child(68){transform: rotate(244.8deg);}.project_jz_r_r>.ul li:nth-child(69){transform: rotate(248.4deg);}.project_jz_r_r>.ul li:nth-child(70){transform: rotate(252deg);}.project_jz_r_r>.ul li:nth-child(71){transform: rotate(255.6deg);}.project_jz_r_r>.ul li:nth-child(72){transform: rotate(259.2deg);}.project_jz_r_r>.ul li:nth-child(73){transform: rotate(262.8deg);}.project_jz_r_r>.ul li:nth-child(74){transform: rotate(266.40000000000003deg);}.project_jz_r_r>.ul li:nth-child(75){transform: rotate(270deg);}.project_jz_r_r>.ul li:nth-child(76){transform: rotate(273.6deg);}.project_jz_r_r>.ul li:nth-child(77){transform: rotate(277.2deg);}.project_jz_r_r>.ul li:nth-child(78){transform: rotate(280.8deg);}.project_jz_r_r>.ul li:nth-child(79){transform: rotate(284.40000000000003deg);}.project_jz_r_r>.ul li:nth-child(80){transform: rotate(288deg);}.project_jz_r_r>.ul li:nth-child(81){transform: rotate(291.6deg);}.project_jz_r_r>.ul li:nth-child(82){transform: rotate(295.2deg);}.project_jz_r_r>.ul li:nth-child(83){transform: rotate(298.8deg);}.project_jz_r_r>.ul li:nth-child(84){transform: rotate(302.40000000000003deg);}.project_jz_r_r>.ul li:nth-child(85){transform: rotate(306deg);}.project_jz_r_r>.ul li:nth-child(86){transform: rotate(309.6deg);}.project_jz_r_r>.ul li:nth-child(87){transform: rotate(313.2deg);}.project_jz_r_r>.ul li:nth-child(88){transform: rotate(316.8deg);}.project_jz_r_r>.ul li:nth-child(89){transform: rotate(320.40000000000003deg);}.project_jz_r_r>.ul li:nth-child(90){transform: rotate(324deg);}.project_jz_r_r>.ul li:nth-child(91){transform: rotate(327.6deg);}.project_jz_r_r>.ul li:nth-child(92){transform: rotate(331.2deg);}.project_jz_r_r>.ul li:nth-child(93){transform: rotate(334.8deg);}.project_jz_r_r>.ul li:nth-child(94){transform: rotate(338.40000000000003deg);}.project_jz_r_r>.ul li:nth-child(95){transform: rotate(342deg);}.project_jz_r_r>.ul li:nth-child(96){transform: rotate(345.6deg);}.project_jz_r_r>.ul li:nth-child(97){transform: rotate(349.2deg);}.project_jz_r_r>.ul li:nth-child(98){transform: rotate(352.8deg);}.project_jz_r_r>.ul li:nth-child(99){transform: rotate(356.40000000000003deg);}.project_jz_r_r>.ul li:nth-child(100){transform: rotate(360deg);}
/*知识产权*/
.project_zs_ul,.project_zs_ul_img,.project_zs_ul_two{widht:100%; overflow:hidden; margin-right:-20px;  margin-top:-20px;}
.project_zs_ul_img img{width:66px; height:66px; float:right;  margin-top:12px;}
.project_zs_ul>li,.project_zs_ul_img>li{border:1px solid #e6e6e6; float:left; margin-top:20px; width:350px; padding:15px; margin-right:20px;}
.project_zs_ul_img .project_zs_ul_c{float:left; width:245px;}
.project_zs_ul_two>li{border:1px solid #e6e6e6; float:left; margin-top:20px; width:535px; padding:15px; margin-right:20px;}
.project_zs_ul_c{ width:100%;margin-top:-5px;}
.project_zs_ul_two .font_16{cursor:pointer;}
.project_zs_ul_two .font_16:hover{color:#1ed2ff}
.project_zs_ul_c>li{overflow:hidden; white-space:nowrap; margin-top:5px; text-overflow:ellipsis;}
/*弹窗*/
.pop_l{width:125px; display:block; float:left; text-align:right;}
.layui-layer-max,.layui-layer-min{display:none !important;}
.pop_ul_all,.pop_ul_all_two{background-color:#fff; overflow:hidden; width:100%; padding:20px 0; }
.pop_ul_all>li ,.pop_div{overflow:hidden; width:100%; font-size:12px; margin-bottom:10px; color:#666;}
.pop_ul_all_two>li{overflow:hidden; width:50%; float:left; font-size:12px; margin-bottom:10px; color:#666;}
.pop_div_r{ width:580px; float:left; display:block;}
/*风险信息*/
.wi_400{width:400px; max-height:88px; overflow:hidden; text-align:left; padding:0 5px;}
.wi_210{width:210px; overflow:hidden; text-align:left; padding:0 5px;}
.wi_380{width:380px; overflow:hidden; text-align:left; padding:0 5px;}
.project_fx_ul{width:100%; overflow:hidden; margin-top:-20px;}
.project_fx_ul>li{border:1px solid #f0f0f0;overflow:hidden; margin-top:20px; padding:15px; position:relative;}
.project_fx_div_one{ width:250px; float:left;}
.project_fx_div{ font-size:12px; color:#666;}
.project_fx_div>li{margin-top:10px;}
.project_fx_span_t{ display:block; float:left; width:85px; text-align:right;}
.wi_920{ width:920px; float:right; display:block;}
.project_fx_tit{width:100%; overflow:hidden;     margin-top: 20px;}
.project_fx_tit>li{ padding:0 10px;border-radius:2px; cursor:pointer; line-height:30px;color:#666; border:1px solid #e6e6e6; background-color:#fff; float:left; margin-right:10px;}
.project_fx_tit>li>span{background-color:#f2f2f2; border-radius:8px; padding:2px 10px;}
.project_fx_tit>.project_fx_tit_on{background-color:#1ed2ff; color:#fff}
.project_fx_tit>.project_fx_tit_on>span{background-color:#1ac6f1;}
.project_fx_a{ position:absolute;width:34px; height:34px; right:0;top:0;  color:#fff; background-position:0 -106px;}
.project_fx_a span{display:block; float:right; margin-top:2px; margin-right:5px;}
/*首页*/
.index_ico{ background-image: url(../img/index_ico.png);background-repeat: no-repeat;}
.brain_ico_index_t{    background-position:-36px  -107px;  margin-left: 2px;  width: 3px;   margin-right: 10px;  height: 30px; display: block;  float: left;}
.index_l{width:900px; float:left; overflow:hidden;}
.index_tit{ width:100%; overflow:hidden; margin-top:15px;}
.index_bj{background-color:#fff; width:100%; overflow:hidden; border: 1px solid #f0f0f0;}
.index_ul{padding:20px; overflow: hidden; margin-bottom:-15px; margin-right: -15px;}
.index_ul>li{border:1px solid #e0edfc; margin-bottom:15px; padding:10px; overflow:hidden; width:282px; float:left; margin-right:1%;}
.index_xm{width:100%; overflow:hidden;}
.index_xm_ul{margin-top:5px;}
.indx_tit{ background-image: url(../img/indx_tit.png);background-repeat: no-repeat;}
.indx_tit_1{ width:77px; height:77px; display:block;     margin-top: 20px; float:left;   background-position: 0 0;}
.indx_tit_2{ width:77px; height:77px; display:block;     margin-top: 20px; float:left;   background-position: -79px 0;}
.indx_tit_3{ width:77px; height:77px; display:block;     margin-top: 20px; float:left;   background-position: -158 0;}
.index_bj_tit{ height:118px;  width:100%; margin-top:60px; overflow:hidden; position:relative; }
.nav_all_tit_ul{width: 100%;}
.nav_all_tit_ul>li{width:33.3333333%; float:left;      text-align: center; }
.nav_all_tit_ul>li>ul>li{text-align:center;       display: inline-block;}
.tnav_all_tit_ul_1{color:#ffffff; font-size:44px; border-bottom:1px solid #fff; margin-top: 15px;     }
.tnav_all_tit_ul_2{color:#ffffff; font-size:14px; margin-top:12px; width: 100%; }
.index_titnew{font-size:16px;  color:#333; margin-top:15px; padding:0px 20px }
.index_titnew span{display: inline-block;  height: 25px;}
.index_titnew .spanon{border-bottom:1px solid #f76900; color:#f76900;}
.index_eachart{width:100%; overflow:hidden; margin-top:15px;}
.index_titnew_l{margin-left:30px;}
.index_titnew_on span{cursor:pointer;}
.bj_fff{background-color:#fff; overflow:hidden; border:1px solid #f0f0f0;}
.index_titnew .fr a{font-size:12px; color:#f76900; line-height: 25px;}
.indul_4{margin-right:-20px; width:100%; overflow:hidden; }
.indul_4>li{float:left; margin-left:20px; margin-top:20px; width: 200px; margin-bottom:20px; border:1px solid #f0f0f0; padding:10px;}
.indul_4_1 img{width:88px; height:88px; border:1px solid #e6e6e6; margin:0 auto;}
.indul_4_2{font-size:20px; color:#333333; width:180px; overflow:hidden; text-overflow:ellipsis;
white-space: nowrap; text-align:center; height:25px; line-height:25px; margin-top:10px;}
.indul_4_2 a{color:#333333;}
.indul_4_2 a:hover{color: #f76900;}
.indul_4_4{color:#666666; font-size:12px; margin-top:10px; height:40px; line-height:20px;overflow:hidden;}
.indul_4_5{padding-bottom:10px;}
.indul_4_5>ul>li{float:left; margin-top:10px;  margin-right:5px; margin-left: 0px;}
.index_eachart li{ float:right; margin-right:45px;}
.index_eachart li select{border:1px solid #e6e6e6; border-radius:4px; background-color:#f5f5f5;height:28px; line-height:28px;  color:#333333}
.index_gz{padding:15px 30px;margin-bottom:15px; color:#1ed2ff; border:1px solid #1ed2ff; border-radius:30px; cursor:pointer;}
.brain_ico_site{ background-position:-358px -54px; width:10px; height:13px; margin-right:5px; float:left;display:block;}
.index_xm_ul{margin-bottom:-5px;overflow: hidden;}
.index_xm_ul>li{background-color:#f2f2f2; color:#999999; float:right; padding:2px 8px; margin-left:5px; margin-bottom:5px; border-radius:8px;}
.index_xm img{width:75px; height:75px; float:left; border-radius:4px; margin-right:8px; border:1px solid #e6e6e6;}
.index_r{overflow:hidden; margin-top:10px;  float:right; width:230px; height:auto;}
.index_r_tit{overflow:hidden; background-color:#fff;  float:right; width:230px; height:auto;}
.index_r_bj{ background-color:#ffffff;border:1px solid #e6e6e6; width:100%; height:auto;}
.indul_4_3{color:#999; line-height:12px; margin-top:5px;}
.indul_4_3_2{display:inline-block; margin-left:20px;}
.bj_9{ background-image: url(../img/bj_9.png); margin-left:38px; margin-right:5px;    background-repeat: no-repeat;  display:inline-block; width:10px; height:12px;    background-position: 0px 0px;}
.index_ico_lone{background-position:0px 0; height:49px; text-align:center; font-size:16px; line-height:49px; color:#fff;}
.index_ico_ltwo{background-position:0px -55px; height:49px; text-align:center; font-size:16px; line-height:49px; color:#fff;}
.index_ul_g,.index_ul_g_x{margin-left:15px; margin-right:15px; }
.index_ul_g img{width:32px; height:32px; float:left;  margin-right:10px; border: 1px solid #f0f0f0;}
.index_ul_g li{margin-top:15px; height:32px; line-height:32px; overflow: hidden; overflow:hidden;}
.index_ul_g li a,.index_ul_g_x li a{color:#333;       display: inline-block;  overflow: hidden; width:135px; height:25px; }
.index_ul_g li a:hover,.index_ul_g_x li a:hover{    color: #2393f7;}
.index_div{overflow:hidden; margin-top:20px; margin-bottom:20px; margin-right:10px;}
.index_div a{color:#1ed2ff;}
.index_ul_g_x li{margin-top:15px; height:24px; line-height:24px;}
.index_ul_g_x span{width:24px; height:24px; background-color:#e6e6e6; text-align:center; line-height:24px; display:block; float:left; margin-right:10px; color:#666666;}
.index_ul_g_x .index_ico_one{background-color:#f36d24; color:#fff;}
.index_ul_g_x .index_ico_two{background-color:#f6a229; color:#fff;}
.index_ul_g_x .index_ico_three{background-color:#ffc852; color:#fff;}
.index_new_ul,.new_index_9{margin-top:20px; padding-left:20px; padding-right:20px;     margin-bottom: 20px; overflow:hidden; width:100%; }
.index_new_ul>li{background-color:#fff; height:102px; overflow:hidden; padding-bottom:10px; padding-top:10px; border-bottom:1px dotted  #e6e6e6;}
.index_new_ul>li img{ width:80px; height:80px; float:left; border-radius:4px; margin-right:8px; border:1px solid #e6e6e6;}
.index_new_ul>li .wrapper {  display: inline-block;  vertical-align: middle; color:#666666;  line-height:20px; height: auto; }
.wrapper>ul>li{width:100%; overflow:hidden;}
.index_new_ul>li:before {  content: '';  display: inline-block;  vertical-align: middle;  height: 100%; }
.index_new_ul>li .brain_ico_project_time{margin-right:5px; position: absolute; left: 15px; top: -2px;}
.new_index_9>li{overflow:hidden; padding-bottom:10px; width:100%; padding-top:20px; border-bottom:1px dotted  #e6e6e6;}
.new_index_9 img{width:240px; height:150px;     border: 1px solid #f0f0f0; }
.new_index_9_ul{width:618px; float:right; padding-left:15px;}
.new_index_9_ul_1 {font-size:16px; color:#333333; margin-top:19px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:600px;}
.new_index_9_ul_1 a{font-size:16px; color:#333333; margin-top:19px;}
.new_index_9_ul_1 a:hover{font-size:16px; color:#f76900; margin-top:19px;}
.new_index_9_ul_2{color:#999999; margin-top:15px; height:40px; overflow:hidden; line-height:20px;}
.new_index_9_ul_3{float:right;color:#999999; margin-top:45px;}
.index_new_ul>li .index_time{width:105px;   position: relative;   text-align: right;   float: right; margin-top:30px; padding-left: 8px;}
.index_new_ul_ul{width:200px; float:left;}
.index_new_ul_ul li a{ color:#333;}
.index_new_ul_ul li a:hover{ color:#f76900;}
.index_new_ul_ul .color_666{height:40px; line-height:20px; overflow:hidden;}
.index_news_ul{width:100%; overflow:hidden; border:1px solid #f0f0f0; background-color:#fff; padding-top:30px;padding-left:10px;padding-right:10px;}
.index_news_ul>li{position:relative; margin-bottom:26px;}
.index_news_tie{font-size:16px; color:#333333; padding-left:30px; }
.index_news_tie2{font-size:12px; color:#666666; margin-top:10px; padding-left:30px;}
.index_news_tie:before{content: ' ';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #5fafff;
  position: absolute; left: 5px; top:3px;}
.center{text-align: center; }
.index_l .project_t a{color:#1ed2ff;}
.index_banner{background:url(../img/banner.jpg)  no-repeat center top; height:290px; position:relative;}
.index_ico_close{background-position:-375px -55px; height:25px; width:25px; position:absolute; right:0; top:0; cursor:pointer;}
/*详情table 滚动条*/
.particulars_table_list tbody { display:block;  }
.particulars_table_list .bgsh a,.particulars_table_list .bgsh span,.particulars_table_list .bgsh{white-space:normal;}
.particulars_table_list thead, .particulars_table_list tbody tr {display:table;  width:100%; table-layout:fixed;}
.particulars_table_list a,.project_new a{color: #666666; }
.particulars_table_list a:hover ,.project_new a:hover{ color:#2393f7; text-decoration: none;}
/* 微信二维码 */
.weixin{position:relative;}
.project_tit_r .weixin_ewm{display:none;position:absolute;z-index:9;width:200px; height:33px;color:#333333; font-size:12px;     text-align: center;}
.project_tit_r .wx_img{   padding-left: 10px;  padding-right: 10px; background-color:#f0f0f0; margin-left:auto; margin-right:auto; text-align: center; line-height:33px;display: inline-block;;}
.project_tit_r .wx_img img{width:100%}
.project_tit_r .wx_img span{;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:5px 0 0;text-align:center;}
.project_tit_r .weixin_ewm:after{content:"";display:block;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #f0f0f0;position:absolute;top:-10px;left:50%; margin-left: -9px;}
/*预览*/
.yl_bj{background-color:#f4f9ff; width:100%; overflow:hidden; border-top:1px solid #e6e6e6; margin-top:20px; border-bottom:1px solid #e6e6e6;}
.yl_bj .container {padding-top:25px; padding-bottom:5px;}
.yl_all{float:left;width:100px; text-align:right; line-height:30px;}
.yl_ul{width:1035px; float:left;}
.index_l_center{ padding-right: 15px;  padding-left: 15px;   margin-right: auto; margin-left: auto;}
.yl_ul li{width:90px; border:1px solid #e6e6e6;  margin-bottom:20px; text-align:center; border-radius:4px; line-height:28px; background-color:#fff; float:left; margin-left:20px;}
.yl_ul .yl_ul_on{border:1px solid #1ed2ff; color:#fff; background-color:#1ed2ff;}
.table_yl{width:100%; overflow:hidden;font-size: 14px; color: #666666;}
.table_yl td{ padding-top:10px; padding-bottom:10px; text-align: center;}
.index_r_title{font-size:16px; color:#333333; padding-left:15px; line-height:35px;      padding-top: 5px;}
.index_r_title .fr a{font-size:12px; color:#f76900; padding-right:10px;}
.yl_tit{font-size:16px; color:#3e4d69; line-height:50px;}
.index_l_yl{border:1px solid #f2f2f2;}
.yl_ul_list{margin-right:-15px;  overflow: hidden;}
.yl_ul_list>li{border:1px solid #f2f2f2; overflow:hidden; float:left; margin-right:15px; margin-bottom:15px;}
.yl_ul_list>li:hover{border:1px solid #1ed2ff;  box-shadow: 0 1px 15px #1ed2ff; }
.yl_ul_list>li:hover>div{ background-color:#1ed2ff; color:#fff;}
.yl_ul_list>.yl_ul_list_on:hover{border:1px solid #e6e6e6;  box-shadow: 0 0px 0px #e6e6e6; }
.yl_ul_list>.yl_ul_list_on:hover>div{ background-color:#e6e6e6; color:#333;}
.yl_ul_list>li>div{background-color:#e6e6e6; text-align:center; font-size:14px; color:#333333; line-height:32px; height:32px;}
.yl_ul_list>li>ul{padding:20px 23px 20px 23px;overflow:hidden; margin-right:-15px;}
.yl_ul_list>li>ul>li{float:left; width:67px;margin-right:15px; text-align:center; color:#666666; font-size:12px;}
.yl_ul_list>li>ul>li img{width:67px; height:67px; border:1px solid #f2f2f2;}
.yl_ul_list>li>ul>li img:hover{border:1px solid #1ed2ff;  box-shadow: 0 0px 2px #1ed2ff;}
.yl_ul_g{padding-left:10px; padding-right:10px; margin-top:15px;}
.yl_ul_g>li{width:100%; overflow:hidden; margin-bottom:20px;}
.yl_ul_g img{width:43px; height:43px; border:1px solid #f2f2f2; float:left; margin-right:10px;}
.eachrst_tit{padding-left:30px; padding-right:30px; line-height:35px; padding-top:20px; overflow: hidden}
.eachrst_tit .fl{font-size:16px;}
.eachrst_tit .fr{font-size:12px;}
.border{ overflow:hidden;  border: 1px solid #f2f2f2;}
.eachrst_tit .fl span{display:block; float:left; margin-right:15px; color:#666666;}
.eachrst_tit .fl .eachrst_tit_b{color:#e6e6e6;}
.eachrst_tit .fr span{border:1px solid #e6e6e6; line-height:30px; border-radius:4px; display:block; float:right; margin-left:40px; padding:0 15px; background-color:#f5f5f5}
.eachrst_tit .fr .eachrst_tit_on{ border:1px solid #2393f7; background-color:#2393f7; color:#fff;}
.eachrst_tit .fl .eachrst_tit_on{color:#1ed2ff; border-bottom:1px solid #1ed2ff;}
/*弹窗提示*/
.a_button{ margin-left:auto; margin-right:auto;height:40px;  margin-top:45px; width:150px; background-color:#2d95f4; text-align:center; line-height:40px; border-radius:5px; color:#fff;}
.tips_cen{margin-left:auto; margin-right:auto; margin-top:70px; text-align:center}