@charset "utf-8";
/*弹出层-------华丽分割线---------部分*/
#popbg{ position:fixed; _position:absolute; left:0; top:0; background:#000;filter:Alpha(opacity=0);opacity: 0;  z-index:90999; width:100%; height:100%}
#popbg iframe{filter:alpha(opacity=0);opacity: 0; width:100%; height:100%}
.pop{ position:fixed; _position:absolute; left:0; top:0; z-index:91000;filter:Alpha(opacity=0);opacity: 0; border:2px solid #e9ebf2; border-radius:0px; background:#fdfdfd;}
.popzx{ z-index:9999}
.pop .close{ position:absolute; right:8px; top:4px; width:26px; height:26px; background:url(../img/tcclose.png) no-repeat; z-index:10;opacity: 1; }
.pop .poptxt{ position:relative; padding:0px}
.null {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
}
/* CSS Document */
.block_left{ display:block; float:left;}
.block_left img{width:71px;height:71px;border-radius:50%;}
.block_right{ display:block; float:right;}
.left_30px{ margin-left:30px;}
.color_red{ color:#ff6e42;}
.color_gray{ color:#9b9b9b}
.color_reddish{ color:#ff6e42;}
.color_blue{ color:#4d96ce;}
.introduce_ul li{ overflow:hidden; margin-top:15px;}
.introduce_size18{ font-size:18px;}
.margin_top5{ margin-top:5px;}
.margin_top20{ margin-top:20px;}
.margin_top50{margin-top:50px;}
.position, .position li{ position:relative; padding-left:15px; padding-right:15px;}
.position li .bj_dot{ left:3px;}
.bj_white{ background-color:#fff; padding:0px 5px; margin-left:10px;}
.overflow ,.overflow li{ overflow:hidden;}
.overflow li{ margin-bottom:15px;}
.ul_line{ margin-left:10px; top:3px;}
.ul_line li{ position:relative; padding-left:15px; margin-left:5px; border-left:1px solid #4d96ce;}
.ul_line li .bj_dot{ left: -3px;}
.head_bj{ background-color:#e0e7eb; width:100%; background:url(../img/xmbj.png) 0 0 no-repeat; height:160px;margin-top:73px;}
.head_center{ padding-top:20px; margin-left:auto; margin-right:auto; width:1200px}
.head_center_img{ width:130px; float:left;}
.head_center_img img{ width:120px; height:120px;}
.head_center_message{ float:left;margin-top:10px;}
.ico_arrow{ background:url(../img/ico-img.png) -58px 0 no-repeat; margin-left:5px; margin-right:5px; width:9px; height:12px; margin-top:4px;}
.ico_screen{background:url(../img/ico-img.png) -116px -28px no-repeat; margin-left:5px; margin-right:5px; width:20px; height:22px; margin-top:3px;}
.center_all{ width:1200px; margin-left:auto; margin-right:auto; margin-top:20px;  margin-bottom:30px;  overflow:hidden;}
.center_all_border{ width:100%;  border:1px solid #dfe6eb;  box-sizing:border-box; overflow:hidden;background:#fff;}
.title_all{ width:100%; border-bottom:1px solid #dfe6eb; position:relative; height:50px;}
.title_name{ width:90px; border-bottom:2px solid #4d96ce; position:absolute; text-align:center; font-size:16px; bottom:-1px; height:45px; line-height:45px; left:20px;}
.title_all_js{ width:100%; margin-left:auto; margin-right:auto; position:relative; line-height:25px; margin-top:40px; padding-bottom:20px; overflow:hidden; padding-left:2.5%;padding-right:2.5%;}
.bj_dot{ background:url(../img/ico-img.png) -71px 0 no-repeat; width:5px; height:5px; position:absolute; left:1.5%; top:10px;}
.bi_color_gray{ width:98%; background-color:#f2f4f5; height:30px; line-height:30px; margin-left:auto; margin-right:auto; margin-top:20px;}
.bj_color_gren{ height:24px; background:#4d96ce; width:3px; margin-top:3px; float:left;}
.title_js_name{ width:90px; text-align:left; margin-left:18px;}
.introduce_ul_left li{ float:left; margin-right:30px; overflow:hidden; margin-right:10px;}
.img_ico_height li{ height:71px; line-height:71px; margin-bottom:20px;}
.img_ico_height li div{ margin-right:10px;}
/*机构详情*/
.center_all_l{ width:880px; float:left; overflow:hidden;background:#fff;}
.center_all_r{ width:300px; float:right; }
.title_name_color_reddish{width:90px; border-bottom:2px solid #ff6e42; position:absolute; text-align:center; font-size:16px; bottom:-1px; height:45px; line-height:45px; left:20px;}
.width_50 li{ width:50%; float:left; box-sizing:border-box;}
.ico_history{ background:url(../img/ico-img.png) 0 -28px no-repeat; width:22px; margin-top:5px; height:20px;}
.data_one{ text-align:center; font-size:16px; margin-bottom:15px;}
.data_two{ padding-left:35px}
.ico_institution{background:url(../img/ico-img.png) -26px -28px no-repeat; width:22px; margin-top:5px; height:20px;}
.message_one{ margin-left:20px;}
.ico_pc{ background:url(../img/ico-img.png) -50px -28px no-repeat; width:22px; margin-top:5px; height:20px; margin-right:3px;}
.ico_moble{ background:url(../img/ico-img.png) -72px -28px no-repeat; width:18px; margin-top:5px; margin-left:23px; height:20px; margin-right:3px;}
.ico_mail{ background:url(../img/ico-img.png) -91px -28px no-repeat; width:18px; margin-top:5px; margin-left:21px; height:20px; margin-right:5px;}
.head_center_name{ line-height:120px;}
.blue_button{ background-color:#4d96ce; color:#fff; border-radius:4px; height:25px; line-height:25px; width:67px;  cursor:pointer;}
.ico_star{ background:url(../img/ico-img.png) -37px -0px no-repeat; width:12px; margin-top:6px; margin-left:10px; height:20px; margin-right:5px; }
.style_border_ul li{ border:1px solid #ff6e42; color:#ff784f; border-radius:4px; padding-left:10px; padding-right:10px; margin-bottom:10px;}
.style_border_ul  span ,.introduce_ul_left span{ display:block; margin-left:auto; margin-right:auto; width:102px}

.ico_company{background:url(../img/ico-img.png) 0px -0px no-repeat; width:20px; margin-top:2px; margin-left:4px; height:20px; margin-right:5px; }
.ico_location{ background:url(../img/ico-img.png) -21px -0px no-repeat; width:15px; margin-top:2px; margin-left:4px; height:20px; margin-right:10px; }
.head_portrait_img{ float:left; margin-right:15px; margin-top:20px;}
.head_portrait_img img{width:71px;height:71px;border-radius:50%;}
.introduce_ul_t5 li{ margin-top:5px; overflow:hidden;}
.m_center{ position:absolute; left:50%; margin-left:-120px;}
/*修改密码*/
.popup_lable{  width:540px; margin-left:auto; margin-right:auto; overflow:hidden; position:relative; margin-top:20px; background-color:#fff; border:1px solid #e5e5e5;}
.popup_project_title{ background-color:#f2f4f5; height:35px; line-height:35px; text-indent:15px;}
.popup_lable_ul,.popup_lable_define{ width:90%; margin-left:auto; margin-right:auto; overflow:hidden;}
.popup_lable_ul li{ float:left; border:1px solid #46d4c2; color:#46d4c2; line-height:30px; height:30px; margin-top:15px; margin-right:15px; padding-left:25px; padding-right:25px; border-radius:4px; cursor:pointer;}
.popup_lable_ul .popup_lable_ul_on{ background-color:#46d4c2; color:#fff;}
.popup_lable_define{ margin-top:30px;}
.popup_lable_gray{ color:#cdcdcd;}
.popup_lable_input input{ width:100%; border:1px solid #e5e5e5; line-height:30px; height:30px;}
.popup_password_center{ width:90%; margin-left:auto; margin-right:auto;}
.popup_password{ width:340px;margin-left:auto; margin-right:auto;}
.popup_password_center .span{ color:#a0a0a0; margin-top:10px; font-size:14px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight:normal;
}
.password_hint{ color:#ff2232}
.m_top15{ margin-top:15px;}
.popup_password .group{margin-bottom: 15px;}
.popup_button{ text-align:center; margin-bottom:20px; background-color:#4d96ce; border-radius:4px; line-height:35px; cursor:pointer; margin-top:20px; width:90%; margin-left:auto; margin-right:auto;}
.ico_close{ background-image:url(../img/close.png); background-position:0 0; background-repeat:no-repeat; text-indent:15px;}
.ico_open{background-image:url(../img/close.png); background-position: 0 -30px; background-repeat:no-repeat; text-indent:15px;}
.log_tit{ width:100%; border-bottom:4px solid #4d96ce; background-color:#fff; height:70px;}
.log_tit img{ text-align:center; width:125px; margin-left:auto; margin-right:auto; display:block; padding-top:20px;}
.wicket{ background-color:#4d8fc2; width:356px; height:345px; overflow:hidden;  float:right; margin-right:200px; margin-top:100px;}
.log_in{ width:300px; margin-right:auto; margin-left:auto; margin-top:50px; overflow:hidden}
.log_in input{ background-color:transparent; border:1px solid #fff; color:#fff;width:298px;height: 44px; line-height:44px;border-radius:2px;}
.log_in  placeholder{ color:#fff;}
.log_in input:hover,.log_in input:link{ border:1px solid #fff;}
.log_in .form-group{ margin-top:20px;}
.ico_log_close{ background-image:url(../img/logo_in.png); background-position:15px 13px;; background-repeat:no-repeat; }
.group input{text-indent:40px; float:left; margin-bottom:20px;}
.group{ overflow: hidden;}
.ico_log_open{background-image:url(../img/logo_in.png); background-position: 15px -20px; background-repeat:no-repeat; }
.log_button{ text-align:center; margin-bottom:20px; background-color:#fff; color:#4d90c3; border-radius:2px; line-height:48px; cursor:pointer; margin-top:45px; width:100%; margin-left:auto; margin-right:auto;height:48px;font-size:14px;}
.log_button:hover{background:#fcfeff}
.log_in input[type=text]:focus, .log_in input[type=password]:focus { border: 1px solid #fff;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #89b1d4;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #89b1d4;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #89b1d4;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #89b1d4;
}
.ico_jq{ background: url(../img/ico_jq.png) ; width:50px; height:50px; display:block; margin-left:auto; margin-right:auto;}
.all_money{ background-position: 0 0;}
.probability{ background-position: -0 -50px;}
.all_number{ background-position: -0 -100px;}
.all_probability{ background-position: -0 -150px;}